/*Selectores*/
body{
    font-family: 'Roboto', sans-serif;
}
h1{
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    color: rgba(227, 236, 57, 0.9);
}
header{
    height: 188px;
    background-color: rgb(50, 50, 50);
}
aside{
    float: left;
    width: 336px;
    height: 3319.5px;
    background-color:rgba(227, 236, 57, 0.9) ;
}
nav{
    margin-top: 150px;
    text-align: center;
}
nav li{
    margin-bottom: 20px;
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size:30px;
    font-weight:800;
    line-height:35px;
    color: black;
}
nav ul {
    padding: 0;
    list-style: none ;
}
main{
    margin-left: 336px;
    background-color: rgb(83, 83, 83);
}
h2{
    margin-bottom: 150px ;
    font-weight: 800;
    margin-top: 60px;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 100px;
    color: #FFFFFF;
}
/*Header*/
.container-logo-header{
    display:  inline-block;
    margin-left: 20px;
    text-align: center;
 }
.container-logo-header img{
    margin-top: 30px; 
 }
.container-login-sign{
    float: right;
    width: 152px;
    height: 66px;
    padding: 10px 6px;
    margin-right: 50px;
    margin-top: 60px;
    border-radius: 5px;
    border: none;
    background-color: #FFFFFF;
}

.container-login-sign a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    
}
.container-login-sign a img{
    vertical-align: bottom;
}
/*NavBar*/
.contact-aside{
    font-size: 24px;
    line-height: 28px;   
}
/*Home*/
.span-h2{
    color: #E3EC39;
    position: relative;    
    top: 100px;
    right: 55px;
}
#container-home{
    height: 864px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../assets/images/landing-dont-sit-background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
#container-home h2{
    padding: 105px;
    margin: 0;
}

#container-home p{
    margin-top: 20px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    line-height: 70px;
    white-space: pre-line;
}
/*Features*/
#features-container{
    height: 1050px;
    text-align: center;
}
#features-container article{
    width: 455px;
    height: 288px;
    border-radius: 10px;
    background-size:cover;
    text-align: center;
}
#features-container article h3{
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    white-space: pre-line;
    line-height: 58px;
    color: #E3EC39;
}
#features-container article  p{
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    white-space: pre-line;
    color: #FFFFFF;
}
#container-reservation{
    float: left;
    margin: 0px 46px 75px 110px;
    background-image: linear-gradient(rgba(139, 124, 124, 0.3), rgba(139, 124, 124, 0.3)),url(../../assets/images/landing-reservations-background.png);
}
#container-schedule{
    float: right;
    margin:0px 110px 75px 0px;
    background-image: linear-gradient(rgba(139, 124, 124, 0.3), rgba(139, 124, 124, 0.3)),url(../../assets/images/landing-schedule-background.jpg);
}
#container-memberships{
    float: left;
    margin-left: 110px;
    background-image: linear-gradient(rgba(139, 124, 124, 0.3), rgba(139, 124, 124, 0.3)),url(../../assets/images/landing-memberships-background.jpg);
}
#container-suggestions{
    float: right;
    margin-right: 110px;
    background-image: linear-gradient(rgba(139, 124, 124, 0.3), rgba(139, 124, 124, 0.3)),url(../../assets/images/landing-conttact-suggestions-background.png);
}
/*Contact*/
#contact form{
    margin: auto;
    width: 1030px;
    height: 350px;
    background-color: #FFFFFF;
    border-radius: 30px;
    text-align: center;
}

.inputs-contact{
    display: inline-block;
    margin-top: 35px;
}
.inputs-contact label{
    display: block;
}
.inputs-contact input, select, textarea{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #FFFFFF;
    border: 1px solid #373867;
    border-radius: 4px;
    color: rgba(83, 83, 83, 1);
    
}
.inputs-contact textarea{
    width: 935px;
    height: 100px;
    border: none;
}
.inputs-contact input{
    margin-right: 40px;
}
.inputs-contact input, select{
    width: 190px;
    height: 35px;
}
#submit-contact{
    display: block;
    margin: 35px auto 0px;
    width: 75px;
    height: 35px;
    font-weight: 800;
    font-size: 12px;
    background-color: #E3EC39;
    border: none;
    border-radius: 6px;
}
/*Activities*/
#activities{
    text-align: center;
}
#activities h2{
    margin-bottom: 100px;
}
#activities article{
    margin: 25px;
    width: 305px;
    height: 185px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
}
#activities article h3{
    display: inline-block;
    padding: 5px;
    margin-top: 75px;
    font-weight: 700;
    font-size: 39px;
    line-height: 46px;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 0px 3.9456px 3.9456px rgba(0, 0, 0, 0.25);
    background-color: hsla(0, 0%, 7%, 0.568);
    border-radius: 10px;
}
#crossfit-article{
    background-image: linear-gradient(rgba(139, 124, 124, 0.3), rgba(139, 124, 124, 0.3)),url(../../assets/images/landing-crossfit-background.jpg);
    background-size: cover;  
}
#box-article{
    background-image: linear-gradient(rgba(139, 124, 124, 0.3), rgba(139, 124, 124, 0.3)),url(../../assets/images/landing-box-background.png);
    background-size: cover;  
}
#functional-article{
    background-image: linear-gradient(rgba(139, 124, 124, 0.3), rgba(139, 124, 124, 0.3)),url(../../assets/images/landing-functional-background.jpg);
    background-size: cover;  
}
#spinning-article{
    background-image: linear-gradient(rgba(139, 124, 124, 0.3), rgba(139, 124, 124, 0.3)),url(../../assets/images/landing-spinning-background.png);
    background-size: cover;  
}
#fitness-article{
    background-image: linear-gradient(rgba(139, 124, 124, 0.3), rgba(139, 124, 124, 0.3)),url(../../assets/images/landing-fitness-background.jpg);
    background-size: cover;  
}


