*{
    font-family: 'Roboto', sans-serif;
}
h1{
    margin: 0;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    color: rgba(227, 236, 57, 0.9);
}
header{
    height: 188px;
    background-color: rgb(50, 50, 50);
}
aside{
    float: left;
    width: 336px;
    background-color:rgba(227, 236, 57, 0.9) ;
}
nav{
    margin-top: 150px;
    text-align: center;
}
nav li{
    margin-bottom: 20px;
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size:30px;
    font-weight:800;
    line-height:35px;
    color: black;
}
nav ul {
    padding: 0;
    list-style: none ;
}
main{
    margin-left: 336px;
    background-color: rgb(83, 83, 83);
    max-height: max-content;
}
h2{
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 100px;
    color: #FFFFFF;
}

.container-logo-header{
    display:  inline-block;
    margin-left: 20px;
    text-align: center;
 }
.container-logo-header img{
    margin-top: 30px; 
 }
.container-login-sign{
    float: right;
    width: 152px;
    height: 66px;
    padding: 10px 6px;
    margin-right: 50px;
    margin-top: 60px;
    border-radius: 5px;
    border: none;
    background-color: #FFFFFF;
}

.container-login-sign a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    
}
.container-login-sign a img{
    vertical-align: bottom;
}

.aside-contact{
    font-size: 24px;
    line-height: 28px;   
}
.span-h2{
    color: #E3EC39;
    position: relative;    
    top: 105px;
    right: 90px;
}
#home-container{
    height: 864px;
    background-image: url(../../assets/images/landing-dont-sit-background.jpg);
    background-size:contain;
    background-repeat: no-repeat;
}
#home-container h2{
    padding: 105px;
    margin: 0;
}

#home-container p{
    margin-top: 92px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    line-height: 70px;
    white-space: pre-line;
}
.opacity{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}