main{
    background-color: rgb(83, 83, 83);
    text-align: center;
}
p{
    font-weight: 500;
    font-size: 20px;
    color: #ffff;
    white-space: pre-line;
}
aside{
    display: none;
    background-color: #000000e8;
    text-align: center;
    padding: 55px 10%;
}
aside a,
aside p{
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffff;
}
nav{
    margin-top: 100px;
}
nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 650px;
}
h2{
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
    font-weight: 800;
    font-size: 60px;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #ffff;
}
.contact-aside{
    display: flex;
    flex-direction: column;

}
#home-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:stretch;
    padding: 1em 1em 9em 1em;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/images/mobile-dont-sit.png);
    background-size:cover;
    height: 80vh;
}
.span-h2{
    color: #E3EC39;
    margin-left:35% ;
    margin-top: 30px;
    width: 100%;
}
#features-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    align-items: center;
}
#features-container article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: cover ;
    background-position: center;
    width: 85%;
    height: 50vh;
    border-radius: 30px;
}
#features-container h3{
    color: #E3EC39;
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#features-container p{
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    white-space: pre-line;
}
.reservation-features{
    background-image: linear-gradient(rgba(139, 124, 124, 0.5), rgba(139, 124, 124, 0.5)),url(../../assets/images/landing-reservations-background.png);
}
.schedule-features{
    background-image: linear-gradient(rgba(139, 124, 124, 0.5), rgba(139, 124, 124, 0.5)),url(../../assets/images/landing-schedule-background.jpg);
}
.memberships-features{
    background-image: linear-gradient(rgba(139, 124, 124, 0.5), rgba(139, 124, 124, 0.5)),url(../../assets/images/landing-memberships-background.jpg);
}
.suggestions-features{
    background-image: linear-gradient(rgba(139, 124, 124, 0.5), rgba(139, 124, 124, 0.5)),url(../../assets/images/landing-conttact-suggestions-background.png);
}
#contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contact-container form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    height: 80vh;
    padding: 30px 0;
    background-color: #FFFFFF;
    border-radius: 30px;
}
.inputs-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputs-contact input,
.inputs-contact select{
    height: 30px;
    border: 1px solid #373867;
}
.inputs-contact input, 
.inputs-contact select,
.inputs-contact textarea{
    width: 80%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #FFFFFF;
    border-radius: 4px;
    color: rgba(83, 83, 83, 1);
    font-size: 14px;
    
}
.inputs-contact textarea{
    border: none;
}
#submit-button-contact{
    width: 75px;
    height: 35px;
    margin: 20px auto;
    background-color: #E3EC39;
    border: none;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 800;
    color: black;
}

.line-activities{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    margin: 50px 0px;
}
#activities-container article{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    width: 90%;
    height: 40vh;
    border-radius: 10px;
    text-align: center;
}
#activities-container h3{
    background-color: hsla(0, 0%, 7%, 0.568);
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 39px;
    font-weight: 700;
    text-shadow: 0px 3.9456px 3.9456px rgba(0, 0, 0, 0.25);
}
.crossfit-article{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../../assets/images/landing-crossfit-background.jpg);  
}
.box-article{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../../assets/images/landing-box-background.png);  
}
.functional-article{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../../assets/images/landing-functional-background.jpg);  
}
.spinning-article{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../../assets/images/landing-spinning-background.png);  
}
.fitness-article{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../../assets/images/landing-fitness-background.jpg);  
}
#memberships-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#memberships-container ul{
    width: 90%;
}
#memberships-container li{
    height: 80vh;
    margin: 70px 0;
    background-size:cover;
    background-position: center;
    border-radius: 10px;
    white-space: pre-line;
}
#memberships-container h3{
    color: rgb(227, 236, 57);
    text-transform: uppercase;
    font-size: 40px;
    line-height: 46px;
    font-weight: 700;
}
#memberships-container p{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.basic-membership{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../../assets/images/landing-only-classes-membership-background.png);
}
.classic-membership{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../../assets/images/landing-classic-membership-background.png);
}
.black-membership{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../../assets/images/landing-black-membership-background.jpg);
}
.display-only-desktop{
    display: none;
}
#our-story-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px 0px 200px;
}
#our-story-container div{
    height: 25vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(224, 224, 224, 0.9);
    border-radius: 18px;
    width: 90%;
    white-space: pre-line;
}
#our-story-container p{
    color: #404040;
    font-size: 14px;
    font-weight: 500;
}

@media (min-width: 601px) and (max-width: 1024px) {
    h2{
        font-size: 100px;
    }
    main p{
        font-size: 30px;
    }
    #home-container{
        height: 200vh;
    }
    #features-container{
        gap: 140px;
    }
    #features-container article{
        height: 450px;
    }
    #features-container h3{
        font-size: 3.5rem;
    }
    #features-container p{
        font-size: 45px;
    }

    #contact-container form{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .inputs-contact:not(:last-child){
        width: 45%;
    }
    #activities-container article{
        height: 65vh;
    }
    #activities-container h3{
        font-size: 95px;
    }
    #memberships-container li{
        height: 60vh;
    }
    .basic-membership{
        background-image: linear-gradient(rgba(139, 124, 124, 0.4), rgba(139, 124, 124, 0.4)),url(../../assets/images/landing-only-classes-membership-background.png);
    }
    .classic-membership{
        background-image: linear-gradient(rgba(139, 124, 124, 0.4), rgba(139, 124, 124, 0.4)),url(../../assets/images/landing-classic-membership-background.png);
    }
    .black-membership{
        background-image: linear-gradient(rgba(139, 124, 124, 0.4), rgba(139, 124, 124, 0.4)),url(../../assets/images/landing-black-membership-background.jpg);
    }
    #our-story-container div{
        height: 40vh;
    }
    #our-story-container p{
        font-size: 24px;
    }
}
@media (min-width: 1025px){
    h2{
        font-size: 100px;
    }
    main{
        display: flex;
    }
    aside{
        display: flex;
        justify-content: center;
        width: 5%;
        background-color: #E3EC39;
    }
    nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    h2{
        flex-basis: 100%;
        justify-content: center;
    }
    nav a,
    nav p{
        color: black;
    }
    .login-sign-nav{
        display: none;
    }
    #home-container{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../assets/images/landing-dont-sit-background.jpg);
        height: 100vh;
    }
    #home-container h2{
        flex-basis: content;
    }
    #home-container p{
        font-size: 30px;
        white-space: normal;
    }
    #features-container{
        justify-content: center;
    }
    #features-container article{
        width: 40%;
        height: 35vh;
    }
    #features-container h3{
        font-weight: 700;
        font-size: 2.5rem;
    }
    #features-container p{
        font-size: 30px;
        white-space: normal;
    }
    #contact-container form{
        flex-direction: row;
        flex-wrap: wrap;
        height: 40vh;
    }
    .inputs-contact label{
        padding: 10px 0;
        text-align: left;
    }
    .inputs-contact:not(:last-child){
        width: 25%;
    }
    .inputs-contact:last-child{
        width: 100%;
    }

    .line-activities{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    #activities-container article{
        width: 30%;
        height: 25vh;
    }
    #memberships-container ul{
        width: 40%;
    }
    #memberships-container li{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 70vh;
    }

    #our-story-container{
        flex-direction: row;
        justify-content: space-around;
    }
    #our-story-container h2{
        flex-basis:content ;
        font-size: 60px;
    }
    #our-story-container div{
        width: 50%;
        height: 35vh;
    }
    #our-story-container p{
        font-size: 24px;
    }
    .display-only-desktop{
        display: block;
    }
    
}