h2{
    display: flex;
    flex-wrap: wrap;
    flex-basis: content;
    padding: 30px 0;
    font-weight: 800;
    font-size: 3.75rem;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #ffff;
}
h3{
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px #00000040;
    color: #E3EC39;
}
p{
    font-weight: 500;
    font-size: 1.25rem;
    white-space: pre-line;
    color: #ffff;
}
.log-in-main,
.sign-up-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../../assets/images/background-log-in-sign-up.jpg);
    background-size: cover;

}
.span-h2{
    width: 100%;
    margin-left:35% ;
    margin-top: 30px;
    color: #E3EC39;
}

.error-message{
    color: #E64848;
    padding: 5px;
    border: 3px solid #E64848;
    border-radius: 5px;
    font-size: 14px;
}
